<%= form_with model: select_coin_form, url: url, data: { turbo: false } do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-control w-64 mx-auto">
    <%= f.label :cryptocurrency_id, class: "label label-text" %>
    <%= f.collection_select :cryptocurrency_id, Cryptocurrency.all, :id, :code, {prompt: (t 'helpers.prompt.select_coin_form.cryptocurrency_id')}, {class: "select select-primary w-full max-w-xs"} %>
  </div>
  <div class="form-control w-64 mx-auto py-6">
    <%= f.label :asking_purchase_price, class: "label label-text" %>
    <%= f.number_field :asking_purchase_price, step: "0.00000001", placeholder: (t 'helpers.placeholder.select_coin_form.asking_purchase_price'), class: "input input-primary w-full max-w-xs" %>
  </div>
  <%= f.submit (t 'helpers.submit.result') , class: "btn btn-primary" %>
<% end %>
